.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.events {
  width: 50%;
}

.details {
  width: 40%;
}

button {
  margin-top: 10px;
}

p {
  margin: 5px;
}

h2 {
  margin-top: 0;
}
